{% extends 'main/layout.html' %}

{% block title %}Темы задач{% endblock %}

{% block content %}
<form action="" method="get">
    <div class="wrapper">
        <div class="box">
            {% csrf_token %}
            <h2 class="title" id="zada4i"></h2>

            <button class="btn btn-success btn" id = 'butt0' type="submit" name="tem0"
                                          > 1. Прямоугольные треугольники </button>


            <button class="btn btn-success btn" id = 'butt1' type="submit" name="tem1"
                              >  2. Многоугольники </button>


            <button class="btn btn-success btn" id = 'butt2' type="submit" name="tem2"
                              > 3. Описанные окружности </button>


            <button class="btn btn-success btn" id = 'butt3' type="submit" name="tem3"
                                          > 4. Вписанные окружности </button>


            <button class="btn btn-success btn" id = 'go' type="submit" name="go" > Вперед! </button>


        </div>
    </div>
</form>
<script>
    fl = {{flag}};
    var txt2 = document.getElementById('zada4i');
    if (fl == 1) {
        document.getElementById('butt0').style.display='none';
        document.getElementById('butt1').style.display='none';
        document.getElementById('butt2').style.display='none';
        document.getElementById('butt3').style.display='none';
        document.getElementById('zada4i').innerHTML = 'Пора начать!';
        }
    if (fl == 0) {
        document.getElementById('go').style.display='none';
        txt2.innerHTML = 'Задачи';
        }
</script>
{% endblock %}