{% extends 'main/layout.html' %}

{% block title %}Задачи{% endblock %}

{% block content %}
{% csrf_token %}

    <form action="" method="get">
                    <div class="column-left">
                </div>
                <div class="column-right">
                    <div id="timer">0 часов 0 минут 0 секунд</div>
                </div>
                <div style="clear: left; clear: right"></div>
<!--                 <div style="clear: right"></div>-->
        <div class="wrapper">
            <div class="box">
                {% for task in txt %}
                    <div style="margin:0px 15px 0px 15px;">{{task.1}}</div>
                    <input class='textfield offset' type="number" id="inpu0" name={{task.0}} value='' placeholder='Введите ответ к задаче' maxlength="30" size="20">
                {% endfor %}
                <h4 id="wait"></h4>
                <button class="btn btn-success btn" id = 'butt1' type="submit" name="answers1" onclick="Func()">Отправить</button>

            </div>
        </div>
    </form>

    <style>
        .column-left {
        float: left;
        width: 0%;
        text-align: left;
        }

        .column-right {
          float: right;
          text-align: center;
          background-color: #f2f2f2;
          border: 2px solid #ccc;
          color: #0000ff;
          padding: 5px;
          margin-right: min(10px, 2%);
          margin-top: 10px;
        }

        body {
		-ms-user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	    }

    </style>

  <script>
    let startTime = 0;
    let timer = setInterval(function() {
      startTime++;
      let hours = Math.floor(startTime / 3600);
      let minutes = Math.floor((startTime % 3600) / 60);
      let seconds = startTime % 60;
      document.getElementById('timer').innerText = hours + " часов " + minutes + " минут " + seconds + " секунд";
    }, 1000);

    function Func() {
    document.getElementById('butt1').style.display='none';
    var txt2 = document.getElementById('wait');
    txt2.innerHTML = 'НЕБОЛЬШОЕ ОЖИДАНИЕ, ПОЖАЛУЙСТА';
    txt2.style.fontStyle = 'Italic';
    }
    </script>
{% endblock %}